<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685606808673-h7nelsr766plqpp81ck5qc75p0ska03o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685606808673-h7nelsr766plqpp81ck5qc75p0ska03o</string>
	<key>API_KEY</key>
	<string>AIzaSyD04QO66A6NYNFal6pvphX7pGe4oAjhllk</string>
	<key>GCM_SENDER_ID</key>
	<string>685606808673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ua.edu.ukma.zubrytska.RecipeDetect</string>
	<key>PROJECT_ID</key>
	<string>recipe-5bfd1</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-5bfd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685606808673:ios:49c4c17b9917126667ce20</string>
	<key>DATABASE_URL</key>
	<string>https://recipe-5bfd1-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>