<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgC3iOm4PsyyAVJYqJjYFT7_pnj0cHv0g</string>
	<key>GCM_SENDER_ID</key>
	<string>69450585502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ua.edu.ukm.RecipeDetect</string>
	<key>PROJECT_ID</key>
	<string>ml-ar-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>ml-ar-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69450585502:ios:0ebdf92c313872d2dcf28f</string>
</dict>
</plist>